/* 'OswaldBold'
'OswaldRegular'
'OpenSansRegular'
'OpenSansLight'
'OpenSansBold'
'OpenSansSemibold'
'OpenSansItalic'
'OpenSansLightItalic'
'HelveticaNeueCyrHeavy'
'RopaSansProBold'
'RopaSansProBoldItalic'
'RopaSansProItalic'
'RopaSansProLight'
'RopaSansProLightItalic'
'RopaSansProMedium'
'RopaSansProRegular' */

/* Small only */
@media screen and (max-width: 1199px) {
	.lang-nav {
		margin-left: 50px;
	}
	.main-nav > ul > li > a {
		padding:0 10px;
		font-size:13px;
	}
	.main-nav > ul > li > ul {
		min-width: 970px;
	}
	.advantages li:not(:last-child) {
		margin-right: 20px;
	}
	.header-contacts a:not(:first-child) {
		margin-left: 13px;
	}
}

@media screen and (max-width: 991px) {
	.courses-list-2 {
		@include flex-direction(column);
		> li {
			@include flex(1);
		}
	}
	.advantages {
		display: none;
	}
	.header-bottom {
		position:relative;
	}
	.main-nav {
		display: none;
		position:absolute;
		left:10px;
		top:100%;
		background:$color-1;
		margin-top:-30px;
		width:calc(100% - 20px);
		z-index: 19;
			> ul {
				> li {
					float:none;
						&.has-dropdown {
							> a {
								position:relative;
									&:before,&:after {
										@include transition(all 0.4s);
									}
									&:before {
										border: {
											left:9.5px solid transparent;
											right:9.5px solid transparent;
											top:8px solid #fff;
										};
										content:'';
										position:absolute;
										right:18px;
										top:50%;
										margin-top:-4px;
									}
									&:after {
										border: {
											left:7.5px solid transparent;
											right:7.5px solid transparent;
											top:6px solid $color-1;
										};
										content:'';
										position:absolute;
										right:20px;
										top:50%;
										margin-top:-5px;
									}
							}
							&.active {
								> a {
									background:#516caf;
									border-color:#7489bf;
										&:after {
											border-top:0 solid transparent;
											border-bottom:6px solid #516caf;
											margin-top:-1px;
										}
										&:before {
											border-top:0 solid transparent;
											border-bottom:8px solid #fff;
										}
								}
							}
						}
						&:not(:last-child) {
							> a {
								border-bottom:1px solid #55699c;
							}
						}
						> a {
							padding:15px 18px;
							font-size: 16px;
							line-height: 1;
							height:auto;
						}
					> ul {
						position:relative;
						padding:0 18px;
						background:#516caf;
						@include flex-direction(column);
						width:100%;
						min-width: 0;
							> li {
								&:not(:first-child) {
									padding-left:0;
								}
								> a, span{
									line-height: 1;
									border-bottom:2px solid #7489bf;
									height: auto;
									padding:15px 0;
									display: block;
								}
							}
					}
				}
			}
	}
	.nav-header {
		margin-top: 15px;
		width:30px;
		height: 24px;
		position: relative;
		cursor: pointer;
		@include inline-block;
		float:right;
			span, &:before,&:after {
				width:100%;
				height: 4px;
				background: #fff;
				@include border-radius(4px);
				position:absolute;
				left:0;
				@include transition(all 0.4s);
			}
			&:before,&:after {
				content:'';
			}
			span {
				top:50%;
				margin-top:-2px;
			}
			&:before {
				top:0;
			}
			&:after {
				bottom:0;
			}
			&.active {
				span {
					height:100%;
					top:0;
					margin-top:0;
					@include opacity(0);
					@include transform(scale(1.7));
				}
				&:before {
					@include transform(rotate(45deg));
					top:10px;
				}
				&:after {
					@include transform(rotate(-45deg));
					bottom:10px;
				}
			}
	}
	.main-articles {
		h2 {
			font-size: 24px;
	    height: 54px;
	    overflow: hidden;
		}
		.btn {
			line-height: 40px;
			height: 40px;
			font-size: 13px;
		}
		.this-desc {
			padding-top:15px;
			padding-bottom:15px;
		}
	}
	.top-articles {
		.this-body {
			padding:20px;
		}
		h3 {
			font-size: 20px;
		}
		p {
			margin-bottom: 25px;
		}
	}
	.right-content {
		@include flex(0 0 290px !important);
	}
	.left-content {
		padding-right:35px !important;
	}
	.news-img {
		width:90px;
		margin-right:15px;
	}
	.news-list {
		li {
			margin-bottom: 15px;
		}
	}
	.courses-list {
		margin-left:-10px;
			li {
				width:calc(25% - 10px);
				margin-left:10px;
				margin-bottom: 10px;
					img {
						@include opacity(1);
					}
			}
			h4 {
				font-size:13px;
				height: 30px;
				overflow: hidden;
			}
	}
	footer#footer {
		padding:32px 0;
	}
	.courses {
		padding:40px 0;
			h2 {
				margin-bottom: 32px;
			}
	}
	.footer-inner {
		@include flex-direction(column);
	}
	.footer-left {
		padding:0;
		@include flex-direction(column-reverse);
		@include display-flex;
	}
	.social-nets {
		margin-bottom: 32px;
	}
	.footer-right {
		@include flex(1);
	}
	.footer-contacts {
		margin-bottom: 20px;
	}
}


@media screen and (max-width: 767px) {
	#header {
		@include display-flex;
		@include flex-direction(column-reverse);
	}
	.header-bottom {
		margin:0;
		background: $color-1;
		@include flex(1);
		padding-top:11px;
		padding-bottom:11px;
	}
	.logo {
		width:162px;
		height: 38px;
		background-size:100% auto;
	}
	.nav-header {
		margin-top: 6px;
	}
	.lang-nav:not(.lang-nav-clone) {
		display:none;
	}
	.lang-nav-clone {
		margin-left: 0;
		padding:15px;
		border-top:1px solid #55699c;
		width:100%;
		margin-bottom: 50px;
			li:not(:first-child) {
				margin-left: 37px;
			}
	}
	.header-contacts:not(.header-contacts-clone) {
		float:none;
		text-align: center;
			a {
				float:none;
			}
	}
	.header-contacts-clone {
		float:none;
		overflow: hidden;
		border-bottom:1px solid #55699c;
		padding:11px 15px;
			.icon {
				float:left;
			}
			a {
				color:#fff;
				line-height: 32px;
					&:not(.tel) {
						display:none;
					}
			}
	}
	.main-nav {
		margin-top:0;
		width:100%;
		left:0;
		top:0;
	}
	.nav-header {
		z-index: 20;
	}
	.breadcrumb {
		display:none;
	}
	.static-content blockquote {
		padding-left:0;
		padding-right:0;
	}
}

@media screen and (max-width: 639px) {
	.main-articles {
		margin-left:-10px;
		margin-right:-10px;
		margin-bottom: 0;
			li {
				float:none;
				background:#2b4483;
				width:100%;
					&:last-child {
						img {
							display: none;
						}
					}
			}
			img {
				margin-bottom: -64px;
			}
			.this-desc {
				position:relative;
				padding:18px 22px;
			}
			h2 {
				height: auto;
				font-size: 28px;
				max-width: none;
			}
			.btn {
				line-height: 48px;
				font-size: 14px;
				height: 48px;
				width: auto !important;
				@include inline-block;
				max-width: none;
				padding:0 30px;
			}
	}	
	.top-articles {
		@include flex-direction(column);
		margin-left:-10px;
		margin-right:-10px;
		margin-bottom: 0;
			li {
				width:auto;
				@include flex(1);
				margin:0 !important;
				border:none;
				position:relative;
			}
			.img-cont {
				margin:0;
					img {
						display: block;
						width:100%;
					}
			}
			.this-body {
				height: calc(100% - 18px);
				width: calc(100% - 18px);
				padding:20px 15px;
				background:rgba(43,68,131,.80);
				position:absolute;
				top:9px;
				left:9px;
				@include content-align(middle);
					p {
						display: none;
					}
			}
			h3 {
				font-size: 24px;
				height: auto;
				margin-bottom: 15px;
			}
			.btn {
				line-height: 39px;
				height: 39px;
				font-size:13px;
			}
	}
	.contents {
		@include flex-direction(column);
		padding:30px 0;
	}
	.left-content {
		@include flex(1);
		padding:0 !important;
	}
	.right-content {
		@include flex(1);
		
	}
	.sidebar {
		display:none;
	}
	.about-us-btns .btn {
		margin-bottom: 10px;
	}
	.comment-ava, .comment-details {
		margin-right:15px;
	}
	.comments-about-us {
		margin-bottom: 0;
	}
	.courses {
		h2 {
			text-align: left;
			margin-bottom: 0;
			// @include transform(none !important);
		}
	}
	.courses-list {
		margin-left: 0;
		display:block;
		margin-bottom: 35px;
			li {
				@include flex(none);
				display:list-item;
				background: none !important;
				margin:0;
				// @include transform(none !important);
				width:auto;
				border-bottom:1px solid #8c9cbf;
					img {
						display: none;
					}
			}
	}
	.course-desc {
		padding:25px 0;
		color:$color-1;
		overflow: hidden;
		@include display-flex;
			h4 {
				margin:0;
				height: auto;
				font-size: 20px;
				@include flex(1);
				text-align: left;
				padding-right:5px;
				@include content-align(middle);
			}
			.btn {
				font-size: 0;
				padding:9px;
				@include flex(0 0 60px);
				@include content-align(middle);
				color:$color-1;
					&:after {
						content:attr(data-content);
						font-size: 12px;
					}
					&:hover, &:active {
						color:#fff !important;
					}
			}
	}
	.team-img {
		display:none;
	}

	.footer-nav {
		margin-bottom: 10px;
		ul {
			li {
				float:none;
				margin:0 0 15px !important;
			}
		}
	}
}



@media screen and (max-width: 479px) {
	
}