@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensans/regular/opensans-regular.eot');
    src: url('../fonts/opensans/regular/opensans-regular.eot') format('embedded-opentype'),
         url('../fonts/opensans/regular/opensans-regular.woff') format('woff'),
         url('../fonts/opensans/regular/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans/regular/opensans-regular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensans/light/opensans-light.eot');
    src: url('../fonts/opensans/light/opensans-light.eot') format('embedded-opentype'),
         url('../fonts/opensans/light/opensans-light.woff') format('woff'),
         url('../fonts/opensans/light/opensans-light.ttf') format('truetype'),
         url('../fonts/opensans/light/opensans-light.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans/bold/opensans-bold.eot');
    src: url('../fonts/opensans/bold/opensans-bold.eot') format('embedded-opentype'),
         url('../fonts/opensans/bold/opensans-bold.woff') format('woff'),
         url('../fonts/opensans/bold/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans/bold/opensans-bold.svg#OpenSansBold') format('svg');
}


@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/opensans/semibold/opensans-semibold.eot');
    src: url('../fonts/opensans/semibold/opensans-semibold.eot') format('embedded-opentype'),
         url('../fonts/opensans/semibold/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans/semibold/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans/semibold/opensans-semibold.svg#OpenSansSemibold') format('svg');
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/opensans/italic/opensans-italic.eot');
    src: url('../fonts/opensans/italic/opensans-italic.eot') format('embedded-opentype'),
         url('../fonts/opensans/italic/opensans-italic.woff') format('woff'),
         url('../fonts/opensans/italic/opensans-italic.ttf') format('truetype'),
         url('../fonts/opensans/italic/opensans-italic.svg#OpenSansItalic') format('svg');
}


@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../fonts/opensans/lightItalic/opensans-lightitalic.eot');
    src: url('../fonts/opensans/lightItalic/opensans-lightitalic.eot') format('embedded-opentype'),
         url('../fonts/opensans/lightItalic/opensans-lightitalic.woff') format('woff'),
         url('../fonts/opensans/lightItalic/opensans-lightitalic.ttf') format('truetype'),
         url('../fonts/opensans/lightItalic/opensans-lightitalic.svg#OpenSansLightItalic') format('svg');
}




@font-face {
    font-family: 'HelveticaNeueCyrHeavy';
    src: url('../fonts/helvetica/HelveticaNeueCyrHeavy.eot');
    src: url('../fonts/helvetica/HelveticaNeueCyrHeavy.eot') format('embedded-opentype'),
         url('../fonts/helvetica/HelveticaNeueCyrHeavy.woff2') format('woff2'),
         url('../fonts/helvetica/HelveticaNeueCyrHeavy.woff') format('woff'),
         url('../fonts/helvetica/HelveticaNeueCyrHeavy.ttf') format('truetype'),
         url('../fonts/helvetica/HelveticaNeueCyrHeavy.svg#HelveticaNeueCyrHeavy') format('svg');
}



@font-face {
    font-family: 'RopaSansProBold';
    src: url('../fonts/ropa/bold/RopaSansProBold.eot');
    src: url('../fonts/ropa/bold/RopaSansProBold.eot') format('embedded-opentype'),
         url('../fonts/ropa/bold/RopaSansProBold.woff2') format('woff2'),
         url('../fonts/ropa/bold/RopaSansProBold.woff') format('woff'),
         url('../fonts/ropa/bold/RopaSansProBold.ttf') format('truetype'),
         url('../fonts/ropa/bold/RopaSansProBold.svg#RopaSansProBold') format('svg');
}

@font-face {
    font-family: 'RopaSansProBoldItalic';
    src: url('../fonts/ropa/boldItalic/RopaSansProBoldItalic.eot');
    src: url('../fonts/ropa/boldItalic/RopaSansProBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/ropa/boldItalic/RopaSansProBoldItalic.woff2') format('woff2'),
         url('../fonts/ropa/boldItalic/RopaSansProBoldItalic.woff') format('woff'),
         url('../fonts/ropa/boldItalic/RopaSansProBoldItalic.ttf') format('truetype'),
         url('../fonts/ropa/boldItalic/RopaSansProBoldItalic.svg#RopaSansProBoldItalic') format('svg');
}

@font-face {
    font-family: 'RopaSansProItalic';
    src: url('../fonts/ropa/italic/RopaSansProItalic.eot');
    src: url('../fonts/ropa/italic/RopaSansProItalic.eot') format('embedded-opentype'),
         url('../fonts/ropa/italic/RopaSansProItalic.woff2') format('woff2'),
         url('../fonts/ropa/italic/RopaSansProItalic.woff') format('woff'),
         url('../fonts/ropa/italic/RopaSansProItalic.ttf') format('truetype'),
         url('../fonts/ropa/italic/RopaSansProItalic.svg#RopaSansProItalic') format('svg');
}

@font-face {
    font-family: 'RopaSansProLight';
    src: url('../fonts/ropa/light/RopaSansProLight.eot');
    src: url('../fonts/ropa/light/RopaSansProLight.eot') format('embedded-opentype'),
         url('../fonts/ropa/light/RopaSansProLight.woff2') format('woff2'),
         url('../fonts/ropa/light/RopaSansProLight.woff') format('woff'),
         url('../fonts/ropa/light/RopaSansProLight.ttf') format('truetype'),
         url('../fonts/ropa/light/RopaSansProLight.svg#RopaSansProLight') format('svg');
}

@font-face {
    font-family: 'RopaSansProLightItalic';
    src: url('../fonts/ropa/lightItalic/RopaSansProLightItalic.eot');
    src: url('../fonts/ropa/lightItalic/RopaSansProLightItalic.eot') format('embedded-opentype'),
         url('../fonts/ropa/lightItalic/RopaSansProLightItalic.woff2') format('woff2'),
         url('../fonts/ropa/lightItalic/RopaSansProLightItalic.woff') format('woff'),
         url('../fonts/ropa/lightItalic/RopaSansProLightItalic.ttf') format('truetype'),
         url('../fonts/ropa/lightItalic/RopaSansProLightItalic.svg#RopaSansProLightItalic') format('svg');
}

@font-face {
    font-family: 'RopaSansProMedium';
    src: url('../fonts/ropa/medium/RopaSansProMedium.eot');
    src: url('../fonts/ropa/medium/RopaSansProMedium.eot') format('embedded-opentype'),
         url('../fonts/ropa/medium/RopaSansProMedium.woff2') format('woff2'),
         url('../fonts/ropa/medium/RopaSansProMedium.woff') format('woff'),
         url('../fonts/ropa/medium/RopaSansProMedium.ttf') format('truetype'),
         url('../fonts/ropa/medium/RopaSansProMedium.svg#RopaSansProMedium') format('svg');
}

@font-face {
    font-family: 'RopaSansProRegular';
    src: url('../fonts/ropa/regular/RopaSansProRegular.eot');
    src: url('../fonts/ropa/regular/RopaSansProRegular.eot') format('embedded-opentype'),
         url('../fonts/ropa/regular/RopaSansProRegular.woff2') format('woff2'),
         url('../fonts/ropa/regular/RopaSansProRegular.woff') format('woff'),
         url('../fonts/ropa/regular/RopaSansProRegular.ttf') format('truetype'),
         url('../fonts/ropa/regular/RopaSansProRegular.svg#RopaSansProRegular') format('svg');
}
