$color-1: #2b4483; // dark blue
$color-2: #0c1939; // dark blue
$color-3: #94a93a; // green

$border-color:#e9eaea;
$border-color-2:#d4d3d3;

$sidebar_width: 257px;
$cont_padding_width: 30px;

$font-color:#3e4245;
$font-color-2:#424343;

$bg_color: #eaebed;