/* 'OswaldBold'
'OswaldRegular'
'OpenSansRegular'
'OpenSansLight'
'OpenSansBold'
'OpenSansSemibold'
'OpenSansItalic'
'OpenSansLightItalic'
'HelveticaNeueCyrHeavy'
'RopaSansProBold'
'RopaSansProBoldItalic'
'RopaSansProItalic'
'RopaSansProLight'
'RopaSansProLightItalic'
'RopaSansProMedium'
'RopaSansProRegular' */



footer#footer {
	background:#f6f6f6;
	padding:40px 0 80px;
}

.footer-inner {
	@include display-flex;
}

.footer-left {
	@include flex(1);
	padding-right:50px;
}

.footer-right {
	@include flex(0 0 310px);
}

.footer-nav {
	margin-bottom:33px;
	ul  {
		@include reset-list;
		@include clearfix;
			li {
				float:left;
					&:not(:first-child) {
						margin-left: 33px;
					}
			}
			a {
				color:#676767;
				@include dec-res;
				text-transform: uppercase;
				font-size: 11px;
				font-family: 'OpenSansSemibold';
					&:hover {
						color:$color-1;
					}
			}
	}
}

.social-nets {
	a {
		@include dec-res;
			i {
				@include transition(all 0.4s);
			}
			&:hover {
				i {
					@include transform(scale(1.3));
				}
			}
	}
	a:not(:first-child) {
		margin-left: 20px;
	}
}

.footer-contacts, .copyright {
	font-size:11px;
	color:#676767;
	font-family:'OpenSansSemibold';
}

.footer-contacts {
	margin-bottom:38px;
	padding-top:2px;
		span:not(:first-child), a {
			margin-left: 15px;
		}
}