/* 'OswaldBold'
'OswaldRegular'
'OpenSansRegular'
'OpenSansLight'
'OpenSansBold'
'OpenSansSemibold'
'OpenSansItalic'
'OpenSansLightItalic'
'HelveticaNeueCyrHeavy'
'RopaSansProBold'
'RopaSansProBoldItalic'
'RopaSansProItalic'
'RopaSansProLight'
'RopaSansProLightItalic'
'RopaSansProMedium'
'RopaSansProRegular' */

.header-top {
	background:#ffffff;
	line-height:1;
	padding:14px 0;
}

.advantages {
	@include reset-list;
	font-family: 'OswaldRegular';
	font-size:13px;
	color:#3e3e3e;
	@include clearfix;
	float:left;
		li {
			float:left;
				&:not(:last-child) {
					margin-right:30px;
				}
				i {
					margin-right:9px;
					vertical-align: top;
					margin-top: 2px;
				}
		}
}

.header-contacts:not(.header-contacts-clone) {
	.icon {
		display:none;
	}
}

.header-contacts {
	float:right;

		a {
			float:left;
			font-family: 'OswaldRegular';
			font-size:13px;
			color:#2b4483;
			@include dec-n;
				&:not(:first-child) {
					margin-left:16px;
				}
		}
}

.header-bottom {
	padding-top:30px;
	padding-bottom:30px;
}

.logo {
	@include inline-block;
	width:232px;
	height:54px;
	background:url(../images/bg/logo.png) no-repeat;
}

.lang-nav {
	@include inline-block;
		ul {
			@include reset-list;
			margin-left:116px;
		}
		li {
			float:left;
				&:not(:first-child) {
					margin-left: 16px;
				}
		}
		a {
			font-size: 12px;
			color:#fff;
			font-family: 'OswaldRegular';
		}
		i {
			margin-right:10px;
			vertical-align: top;
			margin-top: 2px;
			border:1px solid #2c8ed2;
		}
}
.nav-header {
	display:none;
}
.main-nav {
	float:right;
	margin-top:8px;
		ul {
			@include reset-list;
		}
		> ul {
			@include clearfix;
			position:relative;
				> li {
					float:left;
						> a {
							line-height: 40px;
							color:#fff;
							display: block;
							padding:0 15px;
							height: 40px;
							white-space: nowrap;
							@include dec-n;
							font-size: 15px;
							font-family: 'OswaldRegular';
							text-transform: uppercase;
							@include transition(all .3s);
						}
						&.active {
							> a {
								@include dec-res;
							}
						}
						&:last-child {
							> a {
								padding-right:0;
							}
						}
						&.active {
							> a {
								background: $color-1;
							}
							> ul {
								@include display-flex;
							}
						}
						&.has-dropdown {
							> a {
								@include dec-res;
							}
							&:hover {
								> a {
									background: $color-1;
								}
								> ul {
									@include display-flex;
								}
							}
						}
						> ul {
							position: absolute;
							top:100%;
							display: none;
							right:0;
							background: $color-1;
							padding:37px 59px;
							white-space: nowrap;
							min-width: 1048px;
							z-index:99;
								> li {
									&:not(:first-child) {
										padding-left:60px;
									}
									> a, span {
										font-size:16px;
										color:#fff;
										margin-bottom: 20px;
										font-family: 'OswaldRegular';
										display:block;
										line-height: 1;
										padding-bottom:20px;
										border-bottom:2px solid #55699c;
									}
									ul {
										li {
											margin-bottom: 20px;
											padding-right:20px;
												a {
													color:#fff;
													font-size: 13px;
													font-family: 'OpenSansRegular';
												}
										}
										&.two-col {
											@include clearfix;
												li {
													float:left;
													width:50%;
												}
										}
									}
								}
						}
				}
		}
}