include pug/project-settings.pug
include pug/mixins/mixins.pug
- var table2 = {1: 'false', 2: 'true', 3: 'false', 4: 'false', 5: 'false'};
doctype html
html
	head(lang="en")
		include pug/metatags.pug
		+title('Главная')
		include pug/styles.pug
	body
		include pug/svg.pug
		#main-container
			.top-bg
				header#header
					.header-top
						.container
							ul.advantages
								li
									i.icon.icon-check
									= 'We teach perfect buoyancy from the start'
								li
									i.icon.icon-check
									= 'Best instructors in Sydney'
								li
									i.icon.icon-check
									= 'Personal approach & small groups training'

							// advantages end
							.header-contacts
								i.icon.icon-phone
								a.tel(href='tel:02 9553 8738') (02) 9553 8738
								a.tel(href='tel:0400 667 708 ') 0400 667 708 
								a(href='mailto:info@scubathlon.com.au') info@scubathlon.com.au

							// header-contacts end
					// header-top end
					.header-bottom.container
						span.align-helper
						a.logo(href='#')
						// logo end
						.lang-nav
							ul
								li
									a(href='#')
										i.icon.icon-au
										= 'Eng'
								li
									a(href='#')
										i.icon.icon-ru
										= 'Рус'
						// lang-nav end
						i.nav-header
							span
						nav.main-nav
							ul
								li
									a(href='#') Learn To Dive
								li
									a(href='#') Dive Courses
									ul
										li
											a(href='#') Learn to Dive
											ul
												li
													a(href='#') Open water course
												li
													a(href='#') Refresh your Open water course
												li
													a(href='#') Try Dive
												li
													a(href='#') Scuba rangers
										li
											a(href='#') Continue your diving education (specialty courses)
											ul.two-col
												li
													a(href='#') Buoyancy Techniques
												li
													a(href='#') Rescue Diver
												li
													a(href='#') Advanced Diver
												li
													a(href='#') Advanced Wreck Diver
												li
													a(href='#') Nitrox Diver (up to 40%)
												li
													a(href='#') Dry Suit Diving
												li
													a(href='#') Night Diving
												li
													a(href='#') First Aid
												li
													a(href='#') Underwater Navigation
												li
													a(href='#') Oxygen Provider
												li
													a(href='#') Deep Diving
												li
													a(href='#') Master Class
												li
													a(href='#') Wreck Diving
										li
											a(href='#') Career in Diving
											ul
												li
													a(href='#') Dive Guide
												li
													a(href='#') Divemaster
												li
													a(href='#') Dive Control Specialist
												li
													a(href='#') Open Water Instructor
												li
													a(href='#') Specialty Instructor
								li
									a(href='#') Club Dives, Events & Travel
								li
									a(href='#') Sydney Diving
								li
									a(href='#') About Us
						// main-nav end
					// header-bottom end
				// header end
				article.container
					ul.main-articles
						li
							img(src='images/img/img-1.jpg')
							i.icon.icon-mark
							.this-desc
								h2 Learn To Dive: open water courses
								a.btn.btn-primary.btn-full(href='#') New To Scuba Diving? Start Here
						li
							img(src='images/img/img-2.jpg')
							.this-desc
								h2 club dives, events & travel
								a.btn.btn-primary.btn-full(href='#') See what we’re up to next!
					// main-articles end
					ul.top-articles
						li
							.img-cont
								img(src='images/img/min-img-1.jpg')
							.this-body
								h3 ADVANCED DIVING COURSES
								p You can take your dive education further and master night diving, deep diving, wreck and even technical diving. Some of you might even take it further and become dive professionals!
								div
									a.btn.btn-primary(href='#') Learn more
						li
							.img-cont
								img(src='images/img/min-img-2.jpg')
							.this-body
								h3 BUILD CAREER IN DIVING
								p You can take your dive education further and master night diving, deep diving, wreck and even technical diving. Some of you might even take it further and become dive professionals!
								div
									a.btn.btn-primary(href='#') Learn more
						li
							.img-cont
								img(src='images/img/min-img-3.jpg')
							.this-body
								h3 BUY OR RENT DIVE GEAR
								p You can take your dive education further and master night diving, deep diving, wreck and even technical diving. Some of you might even take it further and become dive professionals!
								div
									a.btn.btn-primary(href='#') Learn more
					// top-articles end
			// top-bg end
			main#content
				section.container
					.contents
						.left-content
							.about-us
								h2.title Why we are different
								.video-block
									a.play(href='#')
										i.icon.icon-play
									img(src='images/img/video-img.jpg')
								// vide-block end
								ul.about-list
									li
										h4
											i.icon.icon-check-larger
											= 'We train our students to master neutral buoyancy skills starting from the pool session'
										p Our students never kneel down (as you have probably seen in videos or movies). Buoyancy skills are the most important for any diver, especially for beginners. That is why we teach new students to dive in proper trim (position), with their arms folded and using the “frog” propulsion technique. 
									li
										h4
											i.icon.icon-check-larger
											= 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam'
										p Our students never kneel down (as you have probably seen in videos or movies). Buoyancy skills are the most important for any diver, especially for beginners. That is why we teach new students to dive in proper trim 
									li
										h4
											i.icon.icon-check-larger
											= 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit'
										p Our students never kneel down (as you have probably seen in videos or movies). Buoyancy skills are the most important for any diver, especially for beginners. That is why we teach new students to dive in proper trim (position), with their arms folded and using the “frog” propulsion technique. 
								// about-list end
								.about-us-btns
									a.btn.btn-default(href='#') Learn more about how we teach
									a.btn.btn-default(href='#') Read our story
								// about-us-btns end
							// about-us end
							.comments-about-us
								h4 what our customers say about us
								ul.comments-list
									li
										.comment-header
											.align-helper
											img.comment-ava(src='images/img/user-img-1.jpg')
											.comment-details
												.username
													a(href='#') Kyle Nard
												.comment-date 3 weeks ago
											// comment-details end
											.comment-rating
												span
													='5 stars - '
												.stars
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
										// comment-header end
										p Best place to learn scuba diving in Sydney, no doubts. Great set of people - helpful, very professional, easy to deal with. It was an absolute pleasure to dive with Scubathlon!
									li
										.comment-header
											.align-helper
											img.comment-ava(src='images/img/user-img-1.jpg')
											.comment-details
												.username
													a(href='#') Kyle Nard
												.comment-date 3 weeks ago
											// comment-details end
											.comment-rating
												span
													='5 stars - '
												.stars
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
										// comment-header end
										p Best place to learn scuba diving in Sydney, no doubts. Great set of people - helpful, very professional, easy to deal with. It was an absolute pleasure to dive with Scubathlon!
									li
										.comment-header
											.align-helper
											img.comment-ava(src='images/img/user-img-1.jpg')
											.comment-details
												.username
													a(href='#') Kyle Nard
												.comment-date 3 weeks ago
											// comment-details end
											.comment-rating
												span
													='5 stars - '
												.stars
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
										// comment-header end
										p Best place to learn scuba diving in Sydney, no doubts. Great set of people - helpful, very professional, easy to deal with. It was an absolute pleasure to dive with Scubathlon!
								// comments-list end
								a.btn.btn-default.btn-full.load-more(href='#') Load more
							// comments-about-us end
						// left-content end
						.right-content.sidebar
							h2.title news & events
							ul.news-list
								li
									.news-title
										a(href='#') Dive the World's Best Reef - Raja Ampat
									.news-date April 13, 2018
									img.news-img(src='images/img/news-img-1.jpg')
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
								li
									.news-title
										a(href='#') Club Dives This Weekend - 15th of July
									.news-date April 13, 2018
									img.news-img(src='images/img/news-img-2.jpg')
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
								li
									.news-title
										a(href='#') Leafy seadragons, caverns, crayfish and staying in prison
									.news-date April 13, 2018
									img.news-img(src='images/img/news-img-3.jpg')
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
								li
									.news-title
										a(href='#') Dive the World's Best Reef - Raja Ampat
									.news-date April 13, 2018
									img.news-img(src='images/img/news-img-1.jpg')
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
								li
									.news-title
										a(href='#') Club Dives This Weekend - 15th of July
									.news-date April 13, 2018
									img.news-img(src='images/img/news-img-2.jpg')
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
								li
									.news-title
										a(href='#') Leafy seadragons, caverns, crayfish and staying in prison
									.news-date April 13, 2018
									img.news-img(src='images/img/news-img-3.jpg')
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
								li
									.news-title
										a(href='#') Leafy seadragons, caverns, crayfish and staying in prison
									.news-date April 13, 2018
									img.news-img(src='images/img/news-img-3.jpg')
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
							// news-list end
							a.btn.btn-default(href='#') View all events
						// right-content end
				// container end
				section.courses
					.container
						h2.title OUR COURSES
						ul.courses-list
							li(style='background-color:#2b4483')
								a(href='#')
									img(src='images/img/course-img-1.jpg')
								.course-desc
									h4 BUOYANCY TECHNIQUES
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#3d8bc5')
								a(href='#')
									img(src='images/img/course-img-2.jpg')
								.course-desc
									h4 ADVANCED DIVER
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#239fd8')
								a(href='#')
									img(src='images/img/course-img-3.jpg')
								.course-desc
									h4 NITROX DIVER
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#176cbb')
								a(href='#')
									img(src='images/img/course-img-4.jpg')
								.course-desc
									h4 NIGHT & LIMITED VISIBILITY
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#239fd8')
								a(href='#')
									img(src='images/img/course-img-5.jpg')
								.course-desc
									h4 underwater navigation
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#176cbb')
								a(href='#')
									img(src='images/img/course-img-6.jpg')
								.course-desc
									h4 deep diving
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#2b4483')
								a(href='#')
									img(src='images/img/course-img-7.jpg')
								.course-desc
									h4 wreck diving
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#3d8bc5')
								a(href='#')
									img(src='images/img/course-img-8.jpg')
								.course-desc
									h4 RESCUE DIVER
									a.btn.btn-default(href='#' data-content='more') click to view
						// courses-list end
						.text-center
							a.btn.btn-default.view-all(href='#') view all our advanced courses
					// container end
				// courses end
				.container
					section.contents
						.left-content
							.contacts
								h4.title come, see us!
								p
									strong Address: 
									=' 670 Princes Highway, Kogarah NSW 2217 Australia'
									<br>
									strong Phone: 
									=' +61 2 95538738'
									<br>
									strong Mobile: 
									=' 0400 667 708'
								p
									strong We’re open:
									<br>
									=' Tuesday - Friday: 10am – 18pm'
									=' Saturday - Sunday: 8am – 17pm'
								p
									strong We speak:
									<br>
									=' English, Russian,  官話'
								img.team-img(src='images/img/team.jpg')
						// left-content end
						.right-content
							.feedback
								h4.title GET IN touch
								form
									.form-group.required
										label Your Name
										input.form-control(type='text')
									.form-group.required
										label Email
										input.form-control(type='email')
									.form-group
										label Phone number (we will call you back)
										input.form-control(type='text')
									.form-group.required
										label Your Message
										textarea.form-control
									button.btn.btn-default(type='submit') send
								// form end
							// feedback end
						// right-content end
					// contents end
				// container end
			// content end
		// main-container end
		footer#footer
			.container
				.footer-inner
					.footer-left
						nav.footer-nav
							ul
								li
									a(href='#') Learn To Dive
								li
									a(href='#') Dive Courses
								li
									a(href='#') Clib Dives, Events & Travel
								li
									a(href='#') Sydney Diving
								li
									a(href='#') About Us
						// footer-nav end
						.social-nets
							a(href='#')
								i.icon.icon-fb
							a(href='#')
								i.icon.icon-vk
							a(href='#')
								i.icon.icon-inst
							a(href='#')
								i.icon.icon-you

						// social-nets end
					// footer-left end
					.footer-right
						.footer-contacts
							span (02) 9553 8738
							span 0400 667 708
							a(href='mailto:info@scubathlon.com.au') info@scubathlon.com.au
						// footer-contacts end
						.copyright 2017 &copy; Scubathlon Australia
					// footer-right end
		include pug/scripts.pug
